:root{
    --azul: #004AAD;
    --blanco: #fff;
    --negro: #212121;
    --gris: #ccc;
    --grisClaro: #2e2a2a; /*para h3 solo en tienda*/
    --naranja: #eb5a07;
}


/*agreado recion solo lo del carrito */

* {
    font-family: 'Krub', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.titCarr{
    text-transform: uppercase;
    font-size: 27px;
    text-align: center;
    color: var(--azul);
    margin: 20px;
}

.carrito{
    width: 82%;
    float: right;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    font-weight: bold;
    border: 1px solid var(--gris);
    padding: 8px;
    text-align: center;
}

th {
    text-align: center;
    background-color: var(--azul);
    color: var(--blanco);
}

.carrito img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

p{
    font-weight: bold;
}

#total, #contador{
    color: var(--naranja);
}

.paga a{
    text-decoration: none;
    margin: 0 auto;
    background-color: var(--azul);
    color: var(--blanco);
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}

.paga a:hover {
    background-color: var(--negro);
    color: var(--blanco);
}